@media (max-width: 450px) { 
    main { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img.foto-logo {
        display: none;
    }

    h1 {
        margin: 20px;
    }

    button.button-crud {
        width: 60px;
        height: 40px;
        margin: 5px;
        color: white;
        background-color: midnightblue;
        border-radius: 8px;
    }

    p {
        display: flex;
        margin: 15px;
    }

    div.button-container {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-bottom: 10px;
    }

    article{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

}