@media (max-width: 450px) { 
    main { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img.foto-logo {
        display: none;
    }

    button.button-crud {
        width: 60px;
        height: 40px;
        margin: 5px;
        color: white;
        background-color: midnightblue;
        border-radius: 8px;
    }

    p {
        display: flex;
        margin: 15px;
    }

    div.button-container {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-bottom: 10px;
    }

    article{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

}

@media screen and (max-width:900px){
  
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
  }